<h1>Welcome to Quiz 1</h1>

<p>
  We have never been to Asia, nor have we visited Africa.
</p>
<p>
  Wednesday is hump day, but has anyone asked the camel if he’s happy about it?
</p>
<p>
  I was very proud of my nickname throughout high school but today- I couldn’t be any different to what my nickname was.
</p>
<p>
  What was the person thinking when they discovered cow’s milk was fine for human consumption… and why did they do it in the first place!?
</p>