<h1>Where are you from?</h1>

<p>
  The most recent person is from <%= @location.city %>, <%= @location.state %>.
</p>
<p>
  What about you. Where are you from?
</p>
<p style="text-align:center">
  <%= link_to 'Send Location', new_main_path, class: 'button' %>
</p>